/* start styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=VT323&display=swap');

body {
  margin: 0;
  background: #444;
  font-family: "Poppins";
}
li, ul {
  list-style-type: none;
  padding: 0;
}
main {
  padding: 140px 40px 40px;
  color: #bbb;
}

/* solution styles */
header {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding:1em 1em;
  color: #fff;
  background:#303030;
  box-sizing: border-box;
}
.burger {
  margin-top: 2em;
  z-index: 1;
  cursor: pointer;
}
.hamburger {
  display: block;
  width: 25px;
  height: 2px;
  background: #fff;
  margin-top: 5px;
}

/* open state */
nav {
  height: 100%;
  width: 200px;
  padding: 20px;
  padding-top: 80px;
  position: absolute;
  color: #fff;
  background: black;
  box-sizing: border-box;
  top: 0;
  z-index: 0;

  left: -200px;
}
a {
  color: #fff;
  display: block;
  margin-bottom: 6px;
  font-size: 1.2em;
}
nav.open{
  left: 0;
}
.burger.open span:nth-child(1) {
  transform: rotate(45deg) translateY(10px);
}
.burger.open span:nth-child(2) {
  opacity: 0;
}
.burger.open span:nth-child(3) {
  transform: rotate(-45deg) translateY(-10px);
}

/* transitions */

nav {
  transition: left ease-in 0.3s;
}
.burger span {
  transition: all ease-in 0.3s;
}